:host {
  display: block;
}

.home-page {
  position: relative;
  min-height: 100vh;
  padding-top: var(--home-navbar-height);
}

.home-page__defer-anchor {
  width: 100%;
  min-height: 1px;
}

@media (width <= 899px) {
  .home-page {
    padding-top: 0;
  }
}
